<div class="container" *ngIf="user">
  <div class="card">
    <div class="card-header">Écrivez votre post</div>
    <div class="card-body">
      <form [formGroup]="form" (submit)="submit()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Titre du post :</label
          >
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            formControlName="titre"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >Url de l'image :</label
          >
          <input
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            formControlName="image"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >Contenu du post :</label
          >
          <input
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            formControlName="content"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >Catégorie</label
          >
          <input
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            formControlName="category"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
