<div class="row">
  <div class="col-lg-6">
    <!-- Blog post 1 -->
    <div class="card mb-4" *ngFor="let blog of leftColumnBlogs">
      <a href="#!">
        <img class="card-img-top img-fluid" [src]="blog.image" alt="..." />
      </a>
      <div class="card-body">
        <div class="small text-muted">January 1, 2023</div>
        <h2 class="card-title h4">{{ blog.titre }}</h2>
        <p class="card-text text-break">{{ blog.content }}</p>
        <a class="btn btn-primary" href="#!">Read more →</a>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <!-- Blog post 2 -->
    <div class="card mb-4" *ngFor="let blog of rightColumnBlogs">
      <a href="#!">
        <img class="card-img-top img-fluid" [src]="blog.image" alt="..." />
      </a>
      <div class="card-body">
        <div class="small text-muted">January 1, 2023</div>
        <h2 class="card-title h4">{{ blog.titre }}</h2>
        <p class="card-text text-break">{{ blog.content }}</p>
        <a class="btn btn-primary" href="#!">Read more →</a>
      </div>
    </div>
  </div>
</div>

<nav aria-label="Pagination">
  <hr class="my-0" />
  <ul class="pagination justify-content-center my-4">
    <pagination
      [(ngModel)]="currentPage"
      [itemsPerPage]="pageSize"
      [totalItems]="totalItems"
      (pageChanged)="onPageChange($event)"
    ></pagination>
  </ul>
</nav>
